@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* 2. Forzamos a que todos los elementos respeten el tamaño exacto (box-sizing) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* 3. Le damos un fondo claro y elegante a toda la página (modo claro) */
body {
  background-color: #f4f6f9; /* Un gris muy clarito, ideal para paneles de administración */
  color: #333333; /* Texto oscuro para que contraste bien */
  min-width: 100vw;
  min-height: 100vh;
}

/* Opcional: Para que los enlaces no tengan la línea por debajo */
a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout {
  display: flex;
  flex-direction: column;
  flex: 1; /* Permite que el contenedor crezca y ocupe todo el espacio disponible */
}

.main-content {
  flex: 1; /* Empuja el footer hacia abajo */
}
